*
{
	//border: dashed thin;*/
}

.crest
{
	width: 300px;
	text-align: left;
}

.teampic
{
	margin: 0 auto !important;
	width: 675px !important;
	background-color: rgba(225,223,0,0.5) !important;
}

.backgroundPic
{
	background-image: url(/images/stadium3.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.segment
{
	background: none !important; 
}

.green
{
	background-color: rgba(0,161,0,0.5) !important;
}


	h1.header
	{
		text-align: center;
		color: white !important;
	}

	h2.header
	{
		text-align: center;
		color: white !important;
	}

#click
{
	margin: 0 auto;
	width: 700px;
	color: white;
	font-weight: lighter;
	font-size: 15px;
	text-align: center;
	padding: 0%;
	background-color: rgba(255,0,0,0.5);
}

.list
	{
		display: inline;
		text-align: center;
    	font-size: 30px;
	}

	.nav
	{
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: rgba(225,223,0,0.5);
		text-decoration: none !important;
		color: inherit;	
	}

	ul
	{
		text-align: center;
		margin: 0 auto;
		list-style-type: none;
		overflow: hidden;
	}

	.nav:hover
	{
		background-color: #00a100;
		color: black !important;
	}

	a
	{
		text-decoration: none !important;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}

	.current
	{
		background-color: #ff5733;
	}

#footer
{
	margin: 0 auto;
	width: 84%;
	background-color: rgba(0,161,0,0.5);
}

.media
{
	padding-left: 125px;
}

.writing
{
	border: solid !important;
	margin: 0 auto !important;
	width: 80% !important;
	background-color: rgba(225,223,0,0.5) !important;
}

.player_images
{
	border: solid black !important;
	margin: 0 auto !important;
	width: 200px !important;
	background-color: rgba(225,223,0,0.5) !important;
}